/*-------------------------Global css--------------------------- */
:root {
  --color-white: #f5f6f7;
  --color-black: #000000;
  --color-primary: #61dafb;
  --color-dark: #282c34;
  --color-nav-link-hover: #06bcee;
  --footer-font-color: #ebedf0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100% !important;
  background-color: transparent;
  color: #1c1e21 !important;
  color-scheme: light;
  font: 17px/1.65 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html,
body {
  width: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 17px !important;
}

a,
button {
  cursor: pointer;
}

video {
  object-fit: contain;
}

code {
  background-color: rgb(0 0 0 / 6%);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono';
  font-size: 90%;
  padding: 0.1rem 0.1rem;
  color: #1c1e21 !important;
}

.heading {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.main-header {
  padding: 8.5px 16px;
  height: 3.75rem;
}

.section.dark {
  background-color: var(--color-dark);
}

.section + .section {
  border-top: 1px solid #dadde1;
}

a.nav-link {
  transition: all 0s ease 0s;
  color: var(--color-white) !important;
  text-decoration: none;
  font-weight: 400;
  display: block;
  padding: 4.25px 18px;
  font-size: 17px;
  user-select: none;
}

.navbar--fixed-top {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.nav-wrapper {
  max-width: 1360px;
}

.clean-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
  margin-right: 10px;
}

.navbar-brand img.bi {
  animation-name: reverse;
  animation-duration: 1s;
}

.navbar-brand:hover img.bi {
  animation: spin 1s forwards;
}

@keyframes reverse {
  from {
    transform: rotate(270deg) scale(0.7);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}

.nav-link:hover {
  color: var(--color-nav-link-hover) !important;
}

.dropdown {
  background: transparent;
  margin: 0 1.5rem;
  border: 0;
  transition: all 0s ease 0s;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

.dropdown-toggle {
  color: var(--color-white) !important;
}

.dropdown-menu {
  min-width: 120px !important;
  padding: 0.5rem !important;
  border-radius: 0.4rem !important;
  left: -17px !important;
  top: 22px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  box-shadow: 0 5px 40px #00000033;
}

.dropdown-item {
  border-radius: 0.25rem;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0.2rem;
  padding: 4.25px 8.5px !important;
}

.dropdown-item:hover {
  background-color: rgb(0 0 0 / 5%) !important;
  color: #1c1e21 !important;
}

#dropdownMenuButton1::after {
  border-color: currentcolor transparent;
  border-style: solid;
  border-width: 0.4em 0.4em 0;
  content: '';
  margin-left: 0.1em;
  position: relative;
  top: 5px;
  transform: translateY(-50%);
}

.nav-github-link:hover {
  color: var(--color-white) !important;
  opacity: 0.5;
}

.toggle-darkmode-switch {
  display: inline-block;
  width: 50px;
  height: 22px;
  position: relative;
}

.toggle-thumb {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  background-color: #4d4d4d;
  height: 22px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: space-between;
}

.toggle-thumb:hover::before {
  box-shadow: 0 0 2px 3px var(--color-primary);
}

.toggle-thumb:before {
  content: '';
  height: 22px;
  width: 22px;
  position: absolute;
  left: 1px;
  border-radius: 50%;
  background-color: #e2e8f0;
  border: 1px solid #4d4d4d;
  transition: 0.4s all ease;
}

.docsearch-search-icon {
  margin-top: -1px;
  width: 16px;
  stroke-width: 1.6;
}

.docsearch-button-key {
  align-items: center;
  background: linear-gradient(-225deg, rgb(213, 219, 228), rgb(248, 248, 248));
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px var(--color-white),
    0 1px 2px 1px rgba(30, 35, 90, 0.4);
  color: #969faf;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  position: relative;
  top: -1px;
  width: 20px;
  font-size: 14px;
}

.docsearch-button,
.docsearch-button-container {
  align-items: center;
  display: flex;
}

.docsearch-button-keys {
  display: flex;
  min-width: calc(40px + 0.8em);
  align-items: center;
  margin-top: 2px;
}

.docsearch-button-placeholder {
  font-size: 14px;
  padding: 0 12px 0 6px;
  color: #969faf;
  font-weight: 400;
}

.navbar .docsearch-button-key,
.navbar .docsearch-button-placeholder {
  font-size: 14px !important;
}

.docsearch-button {
  font-family: Arial, sans-serif;
  background: #ebedf0;
  border: 0;
  color: var(--color-dark);
  font-weight: 500;
  height: 36px;
  justify-content: space-between;
  user-select: none;
  border-radius: 7px;
  padding: 0 10px;
}

.docsearch-button:hover {
  background: var(--color-white);
  box-shadow: inset 0 0 0 2px var(--color-primary);
  color: #1c1e21;
  outline: 0;
}

.navbar__items--right > :last-child {
  padding-right: 0;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox:checked + .toggle-thumb:before {
  transform: translateX(26px);
}

.hero-section {
  background: var(--color-dark) !important;
}

.hero-sub-heading {
  margin: 0px 0px 40px;
  font-size: 36px;
  font-weight: 500;
  line-height: 46.8px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  margin: -10px auto 0;
  max-width: 1200px;
}

.twitter-follow-button .icon {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='none' d='M0 0h72v72H0z'/%3E%3Cpath class='icon' fill='%23fff' d='M68.812 15.14a26.189 26.189 0 0 1-7.52 2.06 13.125 13.125 0 0 0 5.757-7.243 26.133 26.133 0 0 1-8.314 3.176A13.066 13.066 0 0 0 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396a13.057 13.057 0 0 0-1.77 6.58c0 4.543 2.312 8.552 5.824 10.9a13.05 13.05 0 0 1-5.93-1.64c-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09a26.29 26.29 0 0 1-16.26 5.605c-1.055 0-2.096-.06-3.122-.184a37.036 37.036 0 0 0 20.067 5.882c24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693a26.61 26.61 0 0 0 6.532-6.774z'/%3E%3C/svg%3E")
    no-repeat;
  display: inline-block;
  height: 18px;
  margin-right: 4px;
  position: relative;
  top: 4px;
  width: 18px;
}

.twitter-follow-button {
  background-color: #1b95e0 !important;
  text-decoration: none;
  border-radius: 4px;
  color: var(--color-white);
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  height: 28px;
  line-height: 26px;
  padding: 1px 10px 1px 9px;
  position: relative;
}

.twitter-follow-button:hover {
  background-color: rgb(12, 122, 191) !important;
  color: var(--color-white) !important;
}

.widget > .btn-light {
  padding: 0.2rem 0.5rem;
  margin: 0 1rem;
  font-size: 0.8rem;
}

.github-button span {
  font-size: 12px;
  font-weight: 600;
}

.hero-heading {
  color: var(--color-primary) !important;
  font-weight: 500 !important;
  line-height: 1;
  margin: 0px 0px 20px;
  font-size: 84px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.hero-section .two-cols .column {
  max-width: none;
}

.btn-primary {
  background: var(--color-primary) !important;
  color: var(--color-dark) !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 0.75rem 1.5rem !important;
}

.btn-link {
  color: var(--color-primary) !important;
}

.btn.btn-link:hover {
  color: var(--color-white) !important;
}

.btn.btn-primary:hover {
  background: var(--color-white) !important;
  color: var(--color-dark) !important;
}

.main-heading {
  color: var(--color-white);
  white-space: nowrap;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 600;
}

.main-heading:hover {
  color: var(--color-primary) !important;
}

/* hero lottie-animation */

.lottie-animation {
  width: 350px;
}

.lottie-animation .background {
  fill: var(--color-dark);
}

.lottie-animation .screen {
  stroke-opacity: 0;
  stroke-width: 5px;
  transform: scale(2.25, 1.33) rotate(0);
  transition: 0.85s ease-in-out;
}

.lottie-animation.mobile .screen {
  stroke-opacity: 1;
  stroke-width: 5px;
  opacity: 1;
  transform: scale(1) rotate(0);
}

.lottie-animation.mobile2 .screen {
  stroke-opacity: 1;
  stroke-width: 5px;
  opacity: 1;
  transform: scale(1) rotate(-180deg);
}

.lottie-animation.full .screen {
  stroke-opacity: 0;
  opacity: 1;
  transform: scale(2.25, 1.33) rotate(0);
  transition: none;
}

.lottie-animation.full2 .screen {
  stroke-opacity: 0;
  transform: scale(2.25, 1.33) rotate(-180deg);
}

.lottie-animation.desktop .screen {
  stroke-opacity: 1;
  stroke-width: 8px;
  opacity: 1;
  transform: scale(1.125, 1.1) rotate(-90deg);
}

.lottie-animation.desktop .logoInner {
  transform: scale(0.5);
}

.lottie-animation .base,
.lottie-animation .speaker,
.lottie-animation .stand {
  transition: 0.85s ease-in-out;
}

.lottie-animation.mobile .logoInner,
.lottie-animation.mobile2 .logoInner {
  transform: scale(0.4);
}

.lottie-animation:not(.mobile):not(.mobile2) .speaker {
  opacity: 0;
  transform: scaleX(0);
}

.lottie-animation:not(.desktop) .stand,
.lottie-animation:not(.laptop) .base {
  transform: scaleX(0);
}

.lottie-animation.laptop .screen {
  stroke-opacity: 1;
  stroke-width: 5px;
  opacity: 1;
  transform: scale(0.83) rotate(-90deg);
}

.lottie-animation.laptop .logoInner {
  transform: scale(0.35);
}

.row .col,
img {
  max-width: 100%;
}

.section {
  overflow-x: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
}

.native-apps,
.native-development {
  overflow: hidden;
}

.app-list,
.two-cols,
.two-columns {
  display: grid;
}

.two-cols.reverse {
  grid-template-areas: 'b a';
}

.two-cols .column.first {
  grid-area: a;
}

.section,
.two-cols .column,
.showcase {
  width: 100%;
}

.fast-refresh,
.native-code .column.last {
  margin-bottom: -50px;
}

/* section nativecode */
.tint {
  background-color: #f2f2f2;
}

.code-block-container {
  background: var(--color-dark);
  margin-bottom: 0;
  overflow: visible;
}

.code-block-content {
  direction: ltr;
  position: relative;
}

.code-block-lines {
  float: left;
  font: inherit;
  min-width: 100%;
  padding: 1rem;
}

pre {
  font-size: 0.875em !important;
}

pre,
table {
  overflow: auto;
  margin-bottom: 0 !important;
}

.copy-button {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0;
  padding: 6.8px 8.5px !important;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  transition: opacity 0.2s ease-in-out;
  user-select: none;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: 13px;
  border-radius: 8px;
}

.code-block-container:hover .copy-button {
  opacity: 1;
}

/* section native-development */
.native-development .dissection img {
  position: absolute;
  left: 0;
  top: 0;
}

.native-development .dissection {
  margin-top: -50px;
  position: relative;
}

/* section fast refresh */

.two-cols .column.last {
  grid-area: b;
}

.fast-refresh .column.last {
  margin-bottom: -6px;
}

/* section talks */
.talks .twitter-follow-button {
  margin-top: 1.5rem;
}

/* section community */
.community .content .firstP img {
  float: left;
  height: 56px;
  margin-right: 20px;
  width: 56px;
}

.app-list {
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
}

.app-list .item {
  list-style: none;
}

.community .content,
.get-started .content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;
}

.app-list .item a img {
  border-radius: 20%;
  overflow: hidden;
}

.section p a {
  background-color: rgba(187, 239, 253, 0.3);
  color: var(--color-black);
  border-bottom: 1px solid rgb(190, 195, 201);
  line-height: 21px;
}

.section p a:hover {
  background-color: rgba(187, 239, 253, 0.6);
  color: var(--color-black) !important;
}

iframe {
  border: 0;
  color-scheme: auto;
}

/* section get-started */
.get-started .heading {
  color: var(--color-primary);
  text-align: center;
}

.get-started code:first-child:before {
  color: #808080;
  content: '>';
  left: -13px;
  position: absolute;
}

.get-started code {
  background: none;
  border: 0;
  color: var(--color-white);
  font-size: 18px;
  position: relative;
}

.get-started,
.get-started p,
.navbar .navbar__toggle,
article .component-grid .component h3 a {
  color: var(--color-white);
}

.get-started .steps,
.main-wrapper {
  align-self: center;
}

.get-started .terminal {
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-top: 1px solid #808080;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  position: relative;
  width: 600px;
}

.get-started .terminal:before {
  color: #808080;
  content: '○ ○ ○';
  font-size: 16px;
  left: 15px;
  position: absolute;
  top: 5px;
}

.terminal code {
  color: #ffffff !important;
}

.get-started .steps li {
  font-size: 28px;
  margin-bottom: 8px;
}

.get-started .steps li p {
  font-size: 17px;
}

/* footer section */
.footer {
  background-color: #f5f6f7;
  color: inherit;
  padding: 2rem 1rem;
}

.footer .footer__title {
  color: #858a96;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 8px;
}

.footer__items {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.admonition h5,
.alert__heading,
.footer .footer__title,
.markdown table tr th,
.text--uppercase {
  text-transform: uppercase;
}

.footer .footer__col {
  margin: 4px 0 12px 2%;
  padding-left: 0 !important;
}

.footer__link-item {
  color: var(--footer-font-color);
  line-height: 2;
}

.footer .footer__item {
  font-size: 14px;
  min-height: 30px;
  padding: 8px 0 0;
}

.footer .footer__link-item {
  display: inline-block;
  line-height: 1.44;
}

.footer.footer--dark {
  background-color: #20232a;
}

.footer .container {
  max-width: 900px;
}

.footer__logo {
  margin-top: 1rem;
  max-width: 10rem;
}

.footer__item {
  margin-top: 0;
}

.footer .text--center {
  color: #858a96;
  font-size: 13px;
}

.margin-bottom--sm,
.margin-vert--sm {
  margin-bottom: 0.5rem !important;
}

.footer svg[class^='iconExternalLink'] {
  color: #767676;
  right: -1px;
  width: 9px;
}

.footerLogoLink_1gX9 {
  opacity: 0.5;
  transition: opacity 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

.footer img[class^='themedImage'] {
  display: initial !important;
  height: 54px;
}

.text--center {
  text-align: center;
}

.footerLogoLink_1gX9:hover {
  opacity: 1;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--color-primary) !important;
}

.icon-external-link {
  color: #767676;
  right: -1px;
  width: 9px;
  margin-left: 0.3rem;
  position: relative;
  top: 1px;
}

/* -------------------media queries----------------------- */
@media only screen and (max-width: 1200px) {
  .docsearch-button {
    max-width: 40px;
    padding: 0 12px;
  }
}

@media (min-width: 997px) {
  .search-box {
    padding-left: 1rem;
  }
}

@media (max-width: 996px) {
  .footer__link-item {
    display: block;
  }
}

@media only screen and (max-width: 996px) {
  .footer .footer__col {
    flex-basis: 48% !important;
    margin-bottom: 28px;
    max-width: 48% !important;
    text-align: center;
  }
}

@media only screen and (max-width: 960px) {
  .two-cols .column {
    padding: 0 4rem;
  }
  .two-cols,
  .two-cols.reverse {
    grid-template-areas:
      'a'
      'b';
    grid-template-columns: 1fr;
  }
  .native-apps .column.last {
    max-height: 300px;
  }
  .cross-platform .two-cols,
  .native-development .two-cols,
  .talks .two-cols {
    grid-gap: 2rem;
  }
  .cross-platform svg {
    margin: 0 auto;
    max-width: 100%;
  }
  .talks .video-wrapper {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
  }
  .talks iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 961px) {
  .hero-section .two-cols .column.left {
    padding-right: 0;
  }
  .hero-section .two-cols {
    grid-template-columns: 3fr 1fr;
  }
  .native-apps-img {
    margin-top: -25px;
  }
  .native-apps {
    max-height: 400px;
  }
  .native-code .column.right .prism-code {
    height: 450px;
    margin-right: -9999px;
    padding: 16px 1.5rem;
  }
  .native-code .two-cols .column.right {
    margin-top: -50px;
    padding-left: 0;
  }
  .two-cols.reverse {
    grid-template-areas: 'b a';
  }
  .two-cols {
    grid-template-areas: 'a b';
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 900px;
  }
  .two-cols .column.left {
    padding-right: 50px;
  }
  .native-development .dissection {
    height: 300px;
  }
  .fast-refresh video {
    height: 340px;
  }
  .two-cols .column {
    max-width: 450px;
  }
  .fast-refresh .last {
    margin-top: -50px;
  }
  .two-cols .column.right {
    padding-left: 50px;
  }
  .fast-refresh .two-cols {
    grid-template-columns: 2fr 1fr;
  }
  .talks .two-cols {
    grid-template-columns: 1fr 2fr;
  }
  .talks iframe {
    height: 315px;
    width: 560px;
  }
  .community .column.first {
    border-right: 1px solid #dadde1;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .hero-section .column.last {
    text-align: center;
  }
  .hero-section .column.first {
    display: flex;
    justify-content: center;
  }
  .native-apps .column.last {
    margin: 0 auto;
    width: 66.7%;
  }
  .native-development .dissection {
    height: 450px;
  }
  .fast-refresh video {
    width: 100%;
  }
  .fast-refresh .column.last {
    padding: 0;
    width: 100%;
  }
  .fast-refresh .two-cols {
    grid-gap: 2rem;
  }
  .cross-platform .column.last {
    margin: 0 auto;
    text-align: center;
    width: 86%;
  }
  .community .heading {
    margin-bottom: 1.5rem;
    padding: 0 4rem;
    width: 100%;
  }
  .community .app-list {
    margin: 2rem auto;
    max-width: 500px;
    width: 100%;
  }
  .native-code .column.last {
    background-color: var(--dark);
    height: 28rem;
    overflow-y: hidden;
    padding: 0;
    width: 100%;
  }
  .native-code .two-cols {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .hero-section .social-links {
    margin-top: -2rem;
  }
  .hero-heading {
    font-size: 60px;
  }
  .hero-sub-heading {
    font-size: 30px;
  }
  .get-started .terminal {
    width: 100%;
  }
  .get-started .steps li {
    margin-left: -1rem;
  }
  .get-started .content {
    width: 80%;
  }
  .lottie-animation {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .footer .footer__col {
    flex-basis: 99% !important;
    margin-bottom: 24px;
    max-width: 99% !important;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .two-cols .column {
    padding: 0 1.25rem;
  }
  .native-code .column.last {
    overflow-x: hidden;
    padding: 0;
    width: 100%;
  }
  .native-code .prism-code {
    font-size: 10px;
    padding: 1.25rem;
  }
  .fast-refresh video {
    width: 100%;
  }
  .fast-refresh .column.last {
    padding: 0;
  }
  .community .heading {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    width: 100%;
  }
  .native-development .dissection {
    height: 350px;
  }
}
